
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="#">
</head>

<body>
    
    <a href="/session/">session_check</a>

    <br>
    <br>

    <a href="/real-time-chat/">Realtime chat</a>

    <br>
    <br>
    
    <a href="compose-mail/">Sent a mail</a>

    <br>
    <br>

    <a href="/inbox/">View Inbox</a>

    <br>
    <br>

    <a href="/sent-mails/">View sent mails</a>

    <br>
    <br>

    <a href="/draft-mails/">View draft mails</a>

    <br>
    <br>

    <a href="/archives/">View archived mails</a>

    <br>
    <br>

    <a href="/logout/">logout</a>

</body>

</html>
    



