<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Simple HttpErrorPages | MIT License | https://github.com/HttpErrorPages -->
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>root html</title>
    <link rel="stylesheet" href="/static/basic_css_style_file.css">
    <link rel="shortcut icon" href="#">

</head>
<body>
    <div class="cover"><h1>This <small>is root</small></h1><p class="lead">Implement later if needed</p></div>
    
</body>
</html>